<div class="modal-header">
    <h4 class="modal-title">{{title}}权限字</h4>
</div>
<div class="modal-body">
	<form role="form">
		<div class="row">
			<div class="col-sm-6 form-group m-b-0" data-ng-class="{'has-error': formError.permissionName!==''}">
			    <div class="fg-line">
			        <label class="fg-label">权限字名称</label>
			        <input type="text" ng-model="permission.permissionName" class="input-sm form-control fg-input"/>
			    </div>
			    <small class="help-block">&nbsp;{{formError.permissionName}}</small>
			</div>
			   	<div class="col-sm-6 form-group m-b-0" data-ng-class="{'has-error': formError.permissionCode!==''}">
			    <div class="fg-line">
			        <label class="fg-label">权限字代码</label>
			        <input type="text" ng-model="permission.permissionCode" class="input-sm form-control fg-input"/>
			    </div>
			    <small class="help-block">&nbsp;{{formError.permissionCode}}</small>
			</div>
			   	<div class="col-sm-12 form-group m-b-0" data-ng-class="{'has-error': formError.permissionDescript!==''}">
			    <div class="fg-line">
			        <label class="fg-label">权限字描述</label>
			        <textarea class="form-control" rows="5" ng-model="permission.permissionDescript"></textarea>
			    </div>
			    <small class="help-block">&nbsp;{{formError.permissionDescript}}</small>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button type="button" ng-click="submit()" class="btn btn-primary btn-sm btn-icon-text m-t-10"><i class="zmdi zmdi-check-all"></i> {{title}}</button>
    <button type="button" ng-click="close()" class="btn btn-danger btn-sm btn-icon-text m-t-10"><i class="zmdi zmdi-close"></i> 取消</button>
</div>