<div class="container" data-ng-controller="permissionCtrl as pctrl">
    <div class="card">
        <div class="card-header">
            <h2>权限字<small>最小粒度的权限控制</small></h2>
	        <ul class="actions m-t-20 hidden-xs">
	            <li class="dropdown" uib-dropdown="">
	                <a href="" uib-dropdown-toggle="">
	                    <i class="zmdi zmdi-more-vert"></i>
	                </a>
	                <ul class="dropdown-menu dropdown-menu-right">
	                    <li>
	                        <a data-ui-sref="system.permission-wd-create">新增权限字</a>
	                    </li>
	                </ul>
	            </li>
	        </ul>
        </div>
        <div class="card-body table-responsive">
			<table class="table table-hover">
				<thead>
				    <tr>
				        <th>#</th>
				        <th>权限字名称</th>
				        <th>权限字代码</th>
				        <th>权限字描述</th>
				        <th>操作</th>
				    </tr>
				</thead>
				<tbody>
					<tr ng-repeat="w in pctrl.permissions.data">
					    <td>{{ $index+1 }}</td>
					    <td>{{ w.permissionName }}</td>
					    <td>{{ w.permissionCode }}</td>
					    <td>{{ w.permissionDescript }}</td>
					    <td width="180">
					        <button type="button" class="btn btn-warning btn-icon-text btn-sm" ng-click="w.$edit = true"><i class="zmdi zmdi-edit"></i> 编辑</button>
					        <button type="button" class="btn btn-danger btn-icon-text btn-sm" ng-click="w.$edit = true"><i class="zmdi zmdi-edit"></i> 删除</button>
					    </td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>