<div class="container" data-ng-controller="permissionCtrl as pctrl">
    <div class="card">
        <div class="card-header">
            <h2>权限字<small>最小粒度的权限控制</small></h2>
	        <ul class="actions m-t-20 hidden-xs">
	            <li class="dropdown" uib-dropdown="">
	                <a href="" uib-dropdown-toggle="">
	                    <i class="zmdi zmdi-more-vert"></i>
	                </a>
	                <ul class="dropdown-menu dropdown-menu-right">
	                    <li>
	                        <a data-ui-sref="system.permission-wd-create">新增权限字</a>
	                    </li>
	                </ul>
	            </li>
	        </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="pctrl.datatable" class="table table-striped table-vmiddle">
                    <tr ng-repeat="w in $data">
                        <td data-title="'#'">
                            {{ $index+1 }}
                        </td>
                        <td data-title="'权限字名称'">
                            {{ w.permissionName }}
                        </td>
                        <td data-title="'权限字代码'">
                            {{ w.permissionCode }}
                        </td>
                        <td data-title="'权限字描述'">
                            {{ w.permissionDescript }}
                        </td>
                        <td data-title="'操作'" width="180">
					        <button type="button" class="btn btn-warning btn-icon-text btn-sm" ng-click="pctrl.to_edit(w.permissionId)"><i class="zmdi zmdi-edit"></i> 编辑</button>
					        <button type="button" class="btn btn-danger btn-icon-text btn-sm" ng-click="pctrl.del_it(w.permissionId, w.permissionName)"><i class="zmdi zmdi-edit"></i> 删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>