<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<noscript>
		<h2 style="color: #ff0000">貌似你的浏览器不支持websocket</h2>
	</noscript>
	<div>
		<p id="response"></p>
	</div>
	<script th:src="@{webjars/jquery/1.12.4/dist/jquery.min.js}"></script>
	<script th:src="@{webjars/stomp-websocket/2.3.4/lib/stomp.min.js}"></script>
	<script src="//cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script type="text/javascript">
		var stompClient = null;

		var socket = new SockJS('/endpointWisely'); //1
		console.info(socket)

		socket.onopen = function() {
			alert('open');
		};
		socket.onmessage = function(event) {
			alert('Received:' + event.data);
		};
		socket.onclose = function(event) {
			alert('Info: connection closed.');
		};

		stompClient = Stomp.over(socket);//2

		console.info(stompClient.ws.onmessage)

		stompClient.connect({}, function(frame) {//3
			console.log(">>>>" + frame);
			stompClient.subscribe('/topic/greetings', function(respnose) { //4
				console.info(respnose)
			});
		});

		function disconnect() {
			if (stompClient != null) {
				stompClient.disconnect();
			}
		}

		setTimeout(function() {
			stompClient.send("/ws2", {}, JSON.stringify({
				'message' : 'sizhongxia'
			}));
		}, 1000);
	</script>
</body>
</html>