<div class="chat-search">
    <div class="fg-line">
        <input type="text" class="form-control" placeholder="检索..." />
    </div>
</div>

<div class="listview">
    <a class="lv-item" href="">
        <div class="media">
            <div class="pull-left p-relative">
                <img class="lv-img-sm" th:src="@{../resources/img/profile-pics/2.jpg}" alt=""/>
                <i class="chat-status-busy"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">司仲夏</div>
                <small class="lv-small">刚刚</small>
            </div>
        </div>
    </a>
</div>
